<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manincorp.trading.mapper.ArticleMapper">

    <select id="selectPage" resultType="com.manincorp.trading.dto.ArticlePageDTO">
        SELECT
            article.id,
            article.title,
            article.brand_id,
            article.category_id,
            article.content,
            article.publish_status,
            article.lang,
            article.view_count,
            article.created_at,
            article_category.name AS articleCategoryName,
            brand.name AS brandName
        FROM article
            LEFT JOIN article_category ON article.category_id = article_category.id
            LEFT JOIN brand ON article.brand_id = brand.id
        <where>
            <if test="article.title != null and article.title != ''">
                AND article.title LIKE CONCAT('%', #{article.title}, '%')
            </if>
            <if test="article.brandId != null and article.brandId != ''">
                AND article.brand_id = #{article.brandId}
            </if>
            <if test="article.categoryId != null and article.categoryId != ''">
                AND article.category_id = #{article.categoryId}
            </if>
            <if test="article.lang != null and article.lang != ''">
                AND article.lang = #{article.lang}
            </if>
        </where>
        ORDER BY article.id DESC
    </select>

    <update id="updateViewCount">
        UPDATE article
        SET view_count = view_count + 1
        WHERE id = #{id}
    </update>
</mapper>