<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manincorp.trading.mapper.ArticleMapper">

    <select id="selectPage" resultType="com.manincorp.trading.dto.ArticlePageDTO">
        SELECT
            article.id,
            article.title,
            article.brand_id,
            article.category_id,
            article.content,
            article.publish_status,
            article.view_count,
            article.created_at,
            article_category.name AS articleCategoryName,
            brand.name AS brandName
        FROM article
            LEFT JOIN article_category ON article.category_id = article_category.id
            LEFT JOIN brand ON article.brand_id = brand.id
        <where>
            <if test="article.title != null and article.title != ''">
                AND article.title LIKE CONCAT('%', #{article.title}, '%')
            </if>
        </where>
        ORDER BY article.id DESC
    </select>

</mapper>