<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manincorp.trading.mapper.ArticleCategoryMapper">

    <select id="selectPage" resultType="com.manincorp.trading.entity.ArticleCategory">
        SELECT
        article_category.id,
        article_category.name,
        article_category.lang,
        article_category.created_at
        FROM article_category
        <where>
            <if test="article_category.name != null and article_category.name != ''">
                AND article_category.name LIKE CONCAT('%', #{article_category.name}, '%')
            </if>
            <if test="article_category.lang != null and article_category.lang != ''">
                AND article_category.lang = #{article_category.lang}
            </if>
        </where>
        ORDER BY article_category.id DESC
    </select>

</mapper>
