<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.manincorp.trading.mapper.ProductCategoryMapper">

    <sql id="BaseSelect">
        SELECT
            product_category.id,
            product_category.brand_id,
            product_category.name,
            product_category.lang,
            product_category.created_at,
            brand.name AS brandName
        FROM product_category
                 LEFT JOIN brand ON product_category.brand_id = brand.id
    </sql>

    <!-- page -->
    <select id="selectPage" resultType="com.manincorp.trading.dto.ProductCategoryPageDTO">
        <include refid="BaseSelect"/>
        <where>
            <if test="productCategory.brandId != null">
                AND product_category.brand_id = #{productCategory.brandId}
            </if>
            <if test="productCategory.lang != null">
                AND productCategory.lang = #{productCategory.lang}
            </if>
        </where>
        ORDER BY product_category.id DESC
    </select>

    <!-- query by brandId  -->
    <select id="selectByBrandId" resultType="com.manincorp.trading.dto.ProductCategoryPageDTO">
        <include refid="BaseSelect"/>
        <where>
            <if test="brandId != null">
                AND product_category.brand_id = #{brandId}
            </if>
        </where>
        ORDER BY product_category.id DESC
    </select>

</mapper>
