<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manincorp.trading.mapper.UserEventLogMapper">

    <select id="selectPage" resultType="com.manincorp.trading.dto.UserEventLogPageDTO">
        SELECT
        user_event_log.id AS id,
        user_event_log.user_id AS userId,
        user.username AS username,
        user_event_log.event_type AS eventType,
        user_event_log.target_type AS targetType,
        user_event_log.target_id AS targetId,
        user_event_log.created_at AS createdAt,
        article.title AS articleTitle,
        product.name AS productName,
        brand.name AS brandName
        FROM user_event_log
        LEFT JOIN user ON user.id = user_event_log.user_id
        LEFT JOIN article article ON user_event_log.target_type = 'article' AND user_event_log.target_id = article.id
        LEFT JOIN product product ON user_event_log.target_type = 'product' AND user_event_log.target_id = product.id
        LEFT JOIN brand brand ON user_event_log.target_type = 'brand' AND user_event_log.target_id = brand.id
        <where>
            <if test="userEventLog.eventType != null and userEventLog.eventType != ''">
                AND user_event_log.event_type = #{userEventLog.eventType}
            </if>
            <if test="userEventLog.targetType != null and userEventLog.targetType != ''">
                AND user_event_log.target_type = #{userEventLog.targetType}
            </if>
            <if test="userEventLog.startTime != null and userEventLog.startTime != ''">
                AND user_event_log.created_at &gt;= #{userEventLog.startTime}
            </if>
            <if test="userEventLog.endTime != null and userEventLog.endTime != ''">
                AND user_event_log.created_at &lt;= #{userEventLog.endTime}
            </if>
        </where>
        ORDER BY user_event_log.id DESC
    </select>

</mapper>
