<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manincorp.trading.mapper.UserEventLogMapper">

    <select id="selectPage" resultType="com.manincorp.trading.dto.UserEventLogPageDTO">
        SELECT
        user_event_log.id,
        user_event_log.user_id,
        user_event_log.article_id,
        user_event_log.article_category_id,
        user_event_log.brand_id,
        user_event_log.product_id,
        user_event_log.product_category_id,
        user_event_log.created_at,

        user.username AS username,
        user.nickname AS nickname,
        article.title AS articleTitle,
        article_category.name AS articleCategoryName,
        brand.name AS brandName,
        product.name AS productName,
        product_category.name AS productCategoryName

        FROM user_event_log
        LEFT JOIN user ON user_event_log.user_id = user.id
        LEFT JOIN article ON user_event_log.article_id = article.id
        LEFT JOIN article_category ON user_event_log.article_category_id = article_category.id
        LEFT JOIN brand ON user_event_log.brand_id = brand.id
        LEFT JOIN product ON user_event_log.product_id = product.id
        LEFT JOIN product_category ON user_event_log.product_category_id = product_category.id

        <where>
            <if test="userEventLog.username != null and userEventLog.username != ''">
                AND user.username LIKE CONCAT('%', #{userEventLog.username}, '%')
            </if>
            <if test="userEventLog.nickname != null and userEventLog.nickname != ''">
                AND user.nickname LIKE CONCAT('%', #{userEventLog.nickname}, '%')
            </if>
            <if test="userEventLog.articleTitle != null and userEventLog.articleTitle != ''">
                AND article.title LIKE CONCAT('%', #{userEventLog.articleTitle}, '%')
            </if>
            <if test="userEventLog.articleCategoryName != null and userEventLog.articleCategoryName != ''">
                AND article_category.name LIKE CONCAT('%', #{userEventLog.articleCategoryName}, '%')
            </if>
            <if test="userEventLog.brandName != null and userEventLog.brandName != ''">
                AND brand.name LIKE CONCAT('%', #{userEventLog.brandName}, '%')
            </if>
            <if test="userEventLog.productName != null and userEventLog.productName != ''">
                AND product.name LIKE CONCAT('%', #{userEventLog.productName}, '%')
            </if>
        </where>
        ORDER BY user_event_log.id DESC
    </select>

</mapper>